<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="#">
    <title>World Of Hamsters</title>
</head>
<body>
<div id="outer_container" class="center">
    <div><h4>Hello Hamsters</h4></div>
    <div id = "mid_container" class = "center">
        <a href="hamtaro"> <button type="button" formmethod="POST" class="button button1" name = "go_to_hamtaro">Go to Hamtaro</button></a>
    </div>
</div>
</body>
</html>